<!DOCTYPE html>
<html lang="ja">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="static/js/index.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/css/style.css">
        <title>Tennis Analyzer</title>
    </head>
    <header>
        <h1>Tennis Analyzer</h1>
    </header>

    <body>
        <div class="container">
            <div class="row">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </body>
</html>